* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #000000;
    color: #ffffff;
    font-size: 3rem;
    display: grid;
    place-content: center;
}

h1, p {
    text-align: center;
}

nav {
    padding: 1rem;
    background-color: aquamarine;
    color: #ffffff;
    font-size: 2rem;
}

main {
    flex-grow: 1;
    display: grid;
    place-content: center;
}

a {
    color: #00fd3f;
    text-decoration: none;
}

a:hover {
    opacity: .8;
}